
#container {
    margin-left: 280px;
    height: auto;
    width: 300px;
    border: 1px solid green;
    border-radius: 5px;
    background-color:azure;

}
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:red;
}
ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(39, 16, 94);
}
#prev {
    text-align: center;
    padding: 5px;
    background-color: red;
    color: white;
    margin-left: 80px;
    margin-bottom:10px;
    border:none;
    border-radius: 3px;
}
#next {
    padding: 5px;
    background-color: green;
    color: white;
    
    margin-bottom:10px;
    border:none;
    border-radius: 3px;
    padding-left:15px;
    padding-right:15px;
}